* {
  box-sizing: border-box;
  /*border: 1px solid blue;*/
  font-family: 'Indie Flower', cursive;
}

header {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: rgba(245, 240, 95, 1);
}

.greenbackground {
  background: rgba(245, 203, 50, 1);
}

main {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 38px;
  color: black;
}

.instructions {
  position: absolute;
  margin: 50px auto 0 auto;
  width: 650px;
  border: 7px solid rgba(245, 0 , 0, 1);
  border-radius: 40px;
  padding: 25px 50px 40px 50px;
  text-align: center;
  background: rgba(245, 240, 0, 1);
  z-index: 1000;
  color: blue;
  font-size: 22px;
}

.winner , .loser {
  position: absolute;
  margin: 100px auto 0 auto;
  width: 630px;
  border: 7px solid rgba(0, 50 , 245, 1);
  border-radius: 40px;
  padding: 25px 50px 40px 50px;
  text-align: center;
  background: rgba(245, 240, 0, 1);
  z-index: 1000;
  color: blue;
  font-size: 26px;
}

ul {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  margin-right: 120px;
  margin-left: 150px;
  position: sticky;
}

li {
  margin: 20px;
  cursor: pointer;
}

.correct {
  border: 2px solid rgba(245, 0 , 0, 1);
  pointer-events: none;
}

.soundbox {
  width: 90px;
  height: 105px;
}

.goaway {
  display: none;
}

.chooselevel {
  display: flex;
}

.levelone , .leveltwo {
  border: 2px solid rgba(245, 240, 0, 1);
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  margin: 30px auto;
  background: rgba(245, 0 , 0, 1);
  color: rgba(245, 240, 0, 1);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.reset {
  border: 2px solid rgba(245, 240, 0, 1);
  border-radius: 10px;
  width: 125px;
  padding: 5px;
  margin: 0 auto;
  background: rgba(245, 0 , 0, 1);
  color: rgba(245, 240, 0, 1);
  cursor: pointer;
}
.setnull {
  pointer-events: none;
}

.clock {
  display: inline;
  font-size: 30px;
}

.timer {
  font-size: 40px;
  margin-top: -20px;
  margin-left: 5px;
}


footer {
  text-align: right;
}
