* {
  box-sizing: border-box;
  /*border: 1px solid blue;*/
  font-family: 'Indie Flower', cursive;
}

header {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: rgba(245, 240, 95, 1);
}

main {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 38px;
  color: black;
}

.instructions {
  position: absolute;
  margin: 100px auto 0 auto;
  width: 630px;
  border: 7px solid green;
  border-radius: 40px;
  padding: 25px 50px 40px 50px;
  text-align: center;
  background: rgba(245, 240, 0, 1);
  z-index: 1000;
  color: blue;
  font-size: 22px;
}

.finished {
  position: absolute;
  margin: 100px auto 0 auto;
  width: 630px;
  border: 7px solid blue;
  border-radius: 40px;
  padding: 25px 50px 40px 50px;
  text-align: center;
  background: rgba(245, 240, 0, 1);
  z-index: 1000;
  color: blue;
  font-size: 26px;
}

ul {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  margin-right: 120px;
  margin-left: 150px;
  position: sticky;
}

li {
  margin: 20px;
}

.correct {
  border: 2px solid red;
  pointer-events: none;
}

.soundbox {
  width: 90px;
  height: 105px;
}

.goaway {
  display: none;
}

.letsgo {
  border: 2px solid rgba(245, 240, 0, 1);
  border-radius: 10px;
  width: 125px;
  padding: 5px;
  margin: 0 auto;
  background: blue;
  color: rgba(245, 240, 0, 1);
}

.reset {
  border: 2px solid rgba(245, 240, 0, 1);
  border-radius: 10px;
  width: 125px;
  padding: 5px;
  margin: 0 auto;
  background: blue;
  color: rgba(245, 240, 0, 1);
}
.setnull {
  pointer-events: none;
}

.clock {
  display: inline;
  font-size: 30px;
}

.timer {
  font-size: 40px;
  margin-top: -20px;
  margin-left: 5px;
}

/*
ul li:nth-child(1):after {
  content: "1";
}

ul li:nth-child(2):after {
  content: "2";
}
ul li:nth-child(3):after {
  content: "3";
}
ul li:nth-child(4):after {
  content: "4";
}
ul li:nth-child(5):after {
  content: "5";
}
ul li:nth-child(6):after {
  content: "6";
}
ul li:nth-child(7):after {
  content: "7";
}
ul li:nth-child(8):after {
  content: "8";
}
ul li:nth-child(9):after {
  content: "9";
}
ul li:nth-child(10):after {
  content: "10";
}
ul li:nth-child(11):after {
  content: "11";
}
ul li:nth-child(12):after {
  content: "12";
}
ul li:nth-child(13):after {
  content: "13";
}
ul li:nth-child(14):after {
  content: "14";
}
ul li:nth-child(15):after {
  content: "15";
}
ul li:nth-child(16):after {
  content: "16";
}
ul li:nth-child(17):after {
  content: "17";
}
ul li:nth-child(18):after {
  content: "18";
}
ul li:nth-child(19):after {
  content: "19";
}
ul li:nth-child(20):after {
  content: "20";
}*/


footer {
  text-align: right;
}
